* {
    font-family: 'Work Sans';
    font-style: normal;
}

/* banner design */
.banner-text {

    text-align: right;
    padding: 216px 230px 364px 845px;
    background-image: url('images/banner/banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;

}

.banner-head {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 24px;
    max-width: 100%;

}



.banner-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
    color: #444343;
}

.banner-btn {
    color: #FFFFFF;
    background: #F15B22;
    border-radius: 5px;
    height: 64px;
    width: 160px;
    padding: 21px 25px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

/* main-body design */
.main-lines {
    display: flex;
    align-items: center;
}

.main-title {
    font-weight: 700;
    font-size: 40px;


}

.main-text {
    width: 416px;
    margin-top: 370px;
    margin-left: 87px;
    margin-right: 322px;
}


.main-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;

}

.main-image {
    margin-top: 131px;
    margin-left: 206px;
}

/* my plans */
.plan-text {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
}

.plans {
    margin: 130px 230px;
}

.plan-items {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* keep a positive mindset */
.mindset {
    background-image: url('images/watch.png'), url('images/gradient2.png');
    background-blend-mode: multiply;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 130px 230px;
    padding: 59px 617px 59px 64px;
}

.mind-text {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
}

.mindset-btn {
    color: #F15B22;
    background: #FFFFFF;
    border-radius: 5px;
    height: 64px;
    width: 160px;
    padding: 21px 25px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

/* footer */
footer {
    background-color: #151414;
    display: flex;
    align-items: center;
    gap: 331px;
}

/* footer left */
.left {
    padding-left: 230px;
    padding-top: 130px;
    padding-bottom: 130px;
}

footer h3 {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
}

footer p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}

.footer-icon {
    display: flex;
}

/* footer right */
.right {
    padding-right: 229px;
    padding-top: 130px;
    padding-bottom: 243px;
}

footer h4 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 31px;
}

#mail {
    display: block;


}

.footer-btn {
    color: #F15B22;
    background: #FFFFFF;
    border-radius: 5px;
    height: 64px;
    width: 160px;
    padding: 21px 25px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-top: 16px;
}