* {
    font-family: 'Work Sans';
    font-style: normal;
}

/* banner design */
.banner-text {

    text-align: right;
    padding: 216px 230px 364px 845px;
    background-image: url('images/banner/banner1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-head {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 24px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
    color: #444343;
}

.banner-btn {
    color: #FFFFFF;
    background: #F15B22;
    border-radius: 5px;
    height: 64px;
    width: 160px;
    padding: 21px 25px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

/* main-body design */
.main-lines {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-title {
    font-weight: 700;
    font-size: 40px;
}

.main-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;

}